.App {
  text-align: center;
}

.title {
  background-image: linear-gradient(to bottom right, rgb(231, 126, 226), rgb(185, 243, 26));
  color:rgb(23, 5, 104);
  height: 50px;
  margin-top: 0px;
}

.buttons {
  background-color:rgb(248, 246, 205);
  margin-bottom: 7px;
}

.increment {
  margin-right: 2px;
}

.decrement {
  margin-left: 2px;
}

.inputs {
  background-color:rgb(248, 246, 205);
  margin-top: 0%;
}

#amount-input {
  margin-left: 3px;
  margin-right: 3px;
}

.cat {
  background-color: rgb(250, 249, 232);
}
